POSTGRES_DB=playlistdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_in_prod

ConnectionStrings__playlistdb=Host=postgres;Database=playlistdb;Username=postgres;Password=change_me_in_prod
AllowedOrigins__0=http://<your-vps-ip>